@charset "UTF-8";

#container {
    clear: both;
    position: relative;
    margin: 50px auto 0px;
    padding: 0 0 50px 0;
    width: 1000px;
    z-index: 1;
}
.row .col.s2 {
    width: 16.66666%;
    margin-left: 356px;
    /* margin-left: auto; */
    margin-top: -46px;
    /* left: auto; */
    /* right: auto; */
}
.row .col.s3 {
    width: 25%;
    margin-left: 320px;
    /* margin-left: auto; */
    margin-top: -46px;
    /* left: auto; */
    /* right: auto; */
}
.medium-small {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}

.login-form {
    width: 450px;
}

.login-form-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
}

.login-text {
    margin-top: -6px;
    margin-left: -6px !important;
}

.margin {
    margin: 0 !important;
}

.pointer-events {
  pointer-events: auto !important;
}

.input-field >.material-icons  {
  padding-top:10px;
}

.input-field div.error{
    position: relative;
    top: -1rem;
    left: 3rem;
    font-size: 0.8rem;
    color:#FF4081;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}
#idConfirm:hover {
	background: #e0e0e0;
}
#nickCheck:hover {
	background: #e0e0e0;
}
#zip_code_btn:hover {
	background: #e0e0e0;
}
#phoneConfirmBtn:hover {
	background: #e0e0e0;
}

.text-danger {
  margin-left: 42px;
}
.text-primary {
	margin-left: 42px;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}