<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.member.MemberMapper">

<!-- 
<select id="findMember" resultType="org.zerock.member.domain.MemberVO">
	SELECT memberId, memberPw, membernickName, memberPhoneNum, regDate from tp_member WHERE memberPhoneNum = #{memberPhoneNum};
</select>
 -->

<insert id="insert">
  INSERT INTO tp_member
  (memberId, memberPw, memberName, membernickName, memberBirth, memberPhoneNum, memberMail, memberAddNum, memberAddCity)
  VALUES
  (#{memberId}, #{memberPw}, #{memberName}, #{membernickName}, #{memberBirth}, #{memberPhoneNum}, #{memberMail}, #{memberAddNum}, #{memberAddCity})
</insert>

<insert id="insertAuth">
  INSERT INTO tp_member_auth
  (memberId, auth)
  VALUES
  (#{memberId}, #{auth})
</insert>

  <select id="read" resultMap="MemberMap">
  SELECT 
	m.memberId memberId,
	m.memberPw memberPw,
	m.memberName memberName,
	m.membernickName membernickName,
	m.memberBirth memberBirth,
	m.memberPhoneNum memberPhoneNum,
	m.memberMail memberMail,
	m.memberAddNum memberAddNum,
	m.memberAddCity memberAddCity,
	m.enabled enabled,
	a.auth auth
  FROM 
    tp_member m LEFT JOIN tp_member_auth a ON m.memberId = a.memberId
  WHERE
    m.memberId = #{memberId}
  </select>

  <resultMap type="org.zerock.domain.member.MemberVO" id="MemberMap">
  	<id property="memberId" column="memberId" />
  	<result property="memberPw" column="memberPw" />
  	<result property="memberName" column="memberName" />
  	<result property="membernickName" column="membernickName" />
  	<result property="memberPhoneNum" column="memberPhoneNum" />
  	<result property="memberBirth" column="memberBirth" />
  	<result property="memberMail" column="memberMail" />
  	<result property="memberAddNum" column="memberAddNum" />
  	<result property="memberAddCity" column="memberAddCity" />
  	<result property="regdate" column="regdate" />
  	<result property="enabled" column="enabled" />
  	<collection property="authList" resultMap="authMap" />
  </resultMap>
  <resultMap type="org.zerock.domain.member.AuthVO" id="AuthMap">
  	<result property="memberId" column="memberId" />
  	<result property="auth" column="auth" />
  </resultMap>

</mapper>





































