<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.member.TpMemberMapper">

<insert id="insert">
  INSERT INTO tp_member
  (memberId, memberPw, memberName, memberBirth, memberPhoneNum, memberMail, memberAddNum, memberAddCity, memberAddHome, money)
  VALUES
  (#{memberId}, #{memberpw}, #{memberName}, #{memberBirth}, #{memberPhoneNum}, #{memberMail}, #{memberAddNum}, #{memberAddCity}, #{memberAddHome}, 100000)
</insert>

<insert id="insertAuth">
  INSERT INTO tp_member_auth
  (memberId, auth)
  VALUES
  (#{memberId}, #{auth})
</insert>

  <select id="read" resultMap="memberMap">
  SELECT 
	m.memberId memberId,
	m.memberpw memberpw,
	m.memberName memberName,
	m.memberBirth memberBirth,
	m.memberPhoneNum memberPhoneNum,
	m.memberMail memberMail,
	m.memberAddNum memberAddNum,
	m.memberAddCity memberAddCity,
	m.memberAddHome memberAddHome,
	m.enabled enabled,
	m.money money,
	a.auth auth
  FROM 
    tp_member m LEFT JOIN tbl_member_auth a ON m.memberId = a.memberId
  WHERE
    m.memberId = #{userid}
  
  </select>
  
  
  <resultMap type="org.zerock.domain.member.TpMemberVO" id="tpMemberMap">
  	<id property="memberId" column="memberId" />
  	<result property="memberpw" column="memberpw" />
  	<result property="memberName" column="memberName" />
  	<result property="memberPhoneNum" column="memberPhoneNum" />
  	<result property="memberMail" column="memberMail" />
  	<result property="memberAddNum" column="memberAddNum" />
  	<result property="memberAddCity" column="memberAddCity" />
  	<result property="memberAddHome" column="memberAddHome" />
  	<result property="money" column="money" />
  	<collection property="authList" resultMap="authMap" />
  </resultMap>
  <resultMap type="org.zerock.domain.member.TpAuthVO" id="tpAuthMap">
  	<result property="memberId" column="memberId" />
  	<result property="auth" column="auth" />
  </resultMap>

</mapper>





































