<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.member.TpMemberMapper">

<insert id="insert">
  INSERT INTO tp_member
  (memberId, memberPw, memberName, memberBirth, memberPhoneNum, memberMail, memberAddNum, memberAddCity, money)
  VALUES
  (#{memberId}, #{memberPw}, #{memberName}, #{memberBirth}, #{memberPhoneNum}, #{memberMail}, #{memberAddNum}, #{memberAddCity}, 100000)
</insert>

<insert id="insertAuth">
  INSERT INTO tp_member_auth
  (memberId, auth)
  VALUES
  (#{memberId}, #{auth})
</insert>

</mapper>





































